.controls {
  float: right;
}

.rightBuffer {
  margin-right: 20px;
}

.padding {
  padding: 25px;
}

.topBufferSmall {
  margin-top: 5px;
}

.grid {
  display: grid;
  padding: 25px;
}

.error-text {
  color: red;
}